body,
h1,
p {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: #f0f0f0;
}

.chat-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 600px;
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
  height: 87vh;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.chat-log {
  max-height: 300px;
  overflow-y: auto;
}

.chat-message {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 8px;
  max-width: 70%;
}

.user-message {
  color: black;
  align-self: flex-end;
}

.bot-message {
  background-color: #2196f3;
  color: #fff;
}

.message-input {
  width: calc(100% - 90px);
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.send-button {
  width: 80px;
  padding: 10px;
  background-color: #2196f3;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.send-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.loading-spinner {
  border: 3px solid rgba(0, 0, 0, 0.1);
  border-top: 3px solid #fff;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 1s linear infinite;
  margin: auto;
}

.error-message {
  color: red;
  margin-top: 10px;
  text-align: center;
  font-weight: bold;
}

.message-form {
  display: flex;
}
